{{#each paedagoger}}
    <div id="grid-paedagog{{inc @index}}" class="punkter-med-kant paedagogFarve{{inc @index}} center">
        <span class="navn">{{this.navn}}</span> <br/>
        <span class="initialer">{{this.initialer}}</span>
    </div>
{{/each}}
