/* centrerer tekst */
.center {
    text-align: center;
}

/* pædagoger inde i felterne i kalenderen */
.paedagog1, .paedagog2, .paedagog3 {
    text-align: left;
    width:100%;
}

/* pædagog-farver */
.paedagogFarve1 {
    background-color: pink;
}

.paedagogFarve2 {
    background-color: green;
}

.paedagogFarve3 {
    background-color: yellow;
}

.paedagogFarve4 {
    background-color: orange;
}

.paedagogFarve5 {
    background-color: aquamarine;
}

.paedagogFarve6 {
    background-color: lightblue;
}

.paedagogFarve7 {
    background-color: lightgrey;
}

.paedagogFarve8 {
    background-color: cyan;
}

.paedagogFarve9 {
    background-color: gold;
}

.paedagogFarve10 {
    background-color: lemonchiffon;
}

/* knappen-fjern */
button {
    margin:0px;
}

/* design for et lukket rum */
.lukketRum {
    background-color: lightgrey;
}

/* gør html-elementer usynlige */
.usynlig {
    display: none;
}

/* når knapperne åben rum & lukket rum bliver valgt */
.selectionButtonsSelected {
    border: 2px red solid;
}

/* pædagoger der ikke er valgt i blæksprutte-vinduet */
.paedagogDeselected {
    opacity: 0.5;
}

/* en div-element der bruges til at undgå float problemerne */
.divClearFloat {
    clear: both;
    height: 0px;
}

/* en knap der bliver brugt til at fjerne en pædagog fra kalenderen i blæksprutte-vinduet */
.fjernKnapFloat {
    float: right;
}

/* en div element der viser at dagsplanen gemmes når der klikkes på gem dagsplan */
#dagsplanGemt {
    z-index: 2;
    background-color: dimgrey;
    color: #ededed;
    padding: 42px 48px;
    width: 350px;
    position: absolute;
    left: 40%;
    top: 40%;
    text-align: center;
    border-radius: 20px;
    border: 3px groove #fff;
    font-size: 33px;
}

/* denne klasse til gennemsigtighed bliver brugt til dagsplan div der fader ud */
.opacity {
    opacity: 1;
}

/* design for pædagoger der har tjekket ind */
.check-in {
    display: block;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
}