/* centrerer tekst */
.center {
    text-align: center;
}

/* pædagoger inde i felterne i kalenderen */
.paedagog1, .paedagog2, .paedagog3 {
    text-align: left;
    width:100%;
}

/* pædagog-farver */
.paedagogFarve1 {
    background-color: pink;
}

.paedagogFarve2 {
    background-color: green;
}

.paedagogFarve3 {
    background-color: yellow;
}

.paedagogFarve4 {
    background-color: orange;
}

.paedagogFarve5 {
    background-color: aquamarine;
}

.paedagogFarve6 {
    background-color: lightblue;
}

.paedagogFarve7 {
    background-color: lightgrey;
}

.paedagogFarve8 {
    background-color: cyan;
}

.paedagogFarve9 {
    background-color: gold;
}

.paedagogFarve10 {
    background-color: lemonchiffon;
}

/* knappen-fjern */
button {
    margin:0px;
}

/* design for et lukket rum */
.lukketRum {
    background-color: lightgrey;
}

/* gør html-elementer usynlige */
.usynlig {
    display: none;
}

/* dato og tidspunkt */
#grid-dags-dato {
    grid-area: dags-dato;
}

/* når knapperne åben rum & lukket rum bliver valgt */
.selectionButtonsSelected {
    border: 2px red solid;
}

/* pædagoger der ikke er valgt i blæksprutte-vinduet */
.paedagogDeselected {
    opacity: 0.5;
}

/* en div-element der bruges til at undgå float problemerne */
.divClearFloat {
    clear: both;
    height: 0px;
}

/* en knap der bliver brugt til at fjerne en pædagog fra kalenderen i blæksprutte-vinduet */
.fjernKnapFloat {
    float: right;
}