/* indeholder hele kalenderen */
#grid-ydre {
    border: 1px solid red;
    width: 1024px;
    height: 768px;
    margin: 0px auto;
    padding: 0px;
    background-color: lightgrey;
    display: grid;
    grid-template-areas:
            "top_left top_left top_left top_left paedagog1 paedagog2 paedagog3 paedagog4 paedagog5"
            "top_left top_left top_left top_left paedagog6 paedagog7 paedagog8 paedagog9 paedagog10"
            "mellemrum mellemrum mellemrum mellemrum mellemrum mellemrum mellemrum mellemrum mellemrum"
            "dags-plan stue multirum vaerksted legerum krogen legeplads pause vuggestue"
            "ni lokale1-tidspunkt1 lokale2-tidspunkt1 lokale3-tidspunkt1 lokale4-tidspunkt1 lokale5-tidspunkt1 lokale6-tidspunkt1 lokale7-tidspunkt1 lokale8-tidspunkt1"
            "ti lokale1-tidspunkt2 lokale1-tidspunkt2 lokale1-tidspunkt2 lokale4-tidspunkt2 lokale7-tidspunkt2 lokale7-tidspunkt2 lokale7-tidspunkt2 lokale8-tidspunkt2"
            "elleve lokale1-tidspunkt3 lokale2-tidspunkt3 lokale3-tidspunkt3 lokale4-tidspunkt3 lokale5-tidspunkt3 lokale6-tidspunkt3 lokale7-tidspunkt3 lokale8-tidspunkt3"
            "tolv lokale1-tidspunkt4 lokale2-tidspunkt4 lokale3-tidspunkt4 lokale4-tidspunkt4 lokale5-tidspunkt4 lokale6-tidspunkt4 lokale7-tidspunkt4 lokale8-tidspunkt4"
            "tolv-tredive lokale1-tidspunkt5 lokale2-tidspunkt5 lokale3-tidspunkt5 lokale4-tidspunkt5 lokale5-tidspunkt5 lokale6-tidspunkt5 lokale7-tidspunkt5 lokale8-tidspunkt5"
            "tretten lokale1-tidspunkt6 lokale2-tidspunkt6 lokale3-tidspunkt6 lokale4-tidspunkt6 lokale5-tidspunkt6 lokale6-tidspunkt6 lokale7-tidspunkt6 lokale8-tidspunkt6"
            "fjorten lokale1-tidspunkt7 lokale2-tidspunkt7 lokale3-tidspunkt7 lokale4-tidspunkt7 lokale5-tidspunkt7 lokale6-tidspunkt7 lokale7-tidspunkt7 lokale8-tidspunkt7";
    grid-auto-columns: 1fr; /* gør at kolonnerne får den samme bredde */
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* overskrifter */
#grid-dags-plan {
    grid-area: dags-plan;
}

#grid-stue {
    grid-area: stue;
}

#grid-multirum {
    grid-area: multirum;
}

#grid-vaerksted {
    grid-area: vaerksted;
}

#grid-legerum {
    grid-area: legerum;
}

#grid-krogen {
    grid-area: krogen;
}

#grid-legeplads {
    grid-area: legeplads;
}

#grid-pause {
    grid-area: pause;
}

#grid-vuggestue {
    grid-area: vuggestue;
}

/* tidspunkter */
#grid-ni {
    grid-area: ni;
}

#grid-ti {
    grid-area: ti;
}

#grid-elleve {
    grid-area: elleve;
}

#grid-tolv {
    grid-area: tolv;
}

#grid-tolv-tredive {
    grid-area: tolv-tredive;
}

#grid-tretten {
    grid-area: tretten;
}

#grid-fjorten {
    grid-area: fjorten;
}

/* pædagoger */
#grid-paedagog1 {
    grid-area: paedagog1;
}

#grid-paedagog2 {
    grid-area: paedagog2;
}

#grid-paedagog3 {
    grid-area: paedagog3;
}

#grid-paedagog4 {
    grid-area: paedagog4;
}

#grid-paedagog5 {
    grid-area: paedagog5;
}

#grid-paedagog6 {
    grid-area: paedagog6;
}

#grid-paedagog7 {
    grid-area: paedagog7;
}

#grid-paedagog8 {
    grid-area: paedagog8;
}

#grid-paedagog9 {
    grid-area: paedagog9;
}

#grid-paedagog10 {
    grid-area: paedagog10;
}

/* viser grid lines */
.punkter-med-kant {
    border: 1px black solid;
}

/* centrerer tekst */
.center {
    text-align: center;
}

/* lokale og tidspunkt- felter for række 1 */
.felter {
    background-color: white;
}

/*buttons i blækspruttens vindue*/
.knapper {
    background-color: white;
    text-align: center;
}

#grid-lokale1-tidspunkt1 {
    grid-area: lokale1-tidspunkt1;
}

#grid-lokale2-tidspunkt1 {
    grid-area: lokale2-tidspunkt1;
}

#grid-lokale3-tidspunkt1 {
    grid-area: lokale3-tidspunkt1;
}

#grid-lokale4-tidspunkt1 {
    grid-area: lokale4-tidspunkt1;
}

#grid-lokale5-tidspunkt1 {
    grid-area: lokale5-tidspunkt1;
}

#grid-lokale6-tidspunkt1 {
    grid-area: lokale6-tidspunkt1;
}

#grid-lokale7-tidspunkt1 {
    grid-area: lokale7-tidspunkt1;
}

#grid-lokale8-tidspunkt1 {
    grid-area: lokale8-tidspunkt1;
}

/* lokale og tidspunkt- felter for række 2 */
#grid-lokale1-tidspunkt2 {
    grid-area: lokale1-tidspunkt2;
    border-right: none;
}

#grid-lokale4-tidspunkt2 {
    grid-area: lokale4-tidspunkt2;
    border-left: none;
    border-right: none;
}

#grid-lokale7-tidspunkt2 {
    grid-area: lokale7-tidspunkt2;
    border-left: none;
}

#grid-lokale8-tidspunkt2 {
    grid-area: lokale8-tidspunkt2;
}

#koekken {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right:80px;
}

#label-koekken {
    margin-left:80px;
}

#badevaerelse {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right:80px;
}

#label-badevaerelse {
    margin-left:55px;
}

/* lokale og tidspunkt- felter for række 3 */
#grid-lokale1-tidspunkt3 {
    grid-area: lokale1-tidspunkt3;
}

#grid-lokale2-tidspunkt3 {
    grid-area: lokale2-tidspunkt3;
}

#grid-lokale3-tidspunkt3 {
    grid-area: lokale3-tidspunkt3;
}

#grid-lokale4-tidspunkt3 {
    grid-area: lokale4-tidspunkt3;
}

#grid-lokale5-tidspunkt3 {
    grid-area: lokale5-tidspunkt3;
}

#grid-lokale6-tidspunkt3 {
    grid-area: lokale6-tidspunkt3;
}

#grid-lokale7-tidspunkt3 {
    grid-area: lokale7-tidspunkt3;
}

#grid-lokale8-tidspunkt3 {
    grid-area: lokale8-tidspunkt3;
}

/* lokale og tidspunkt- felter for række 4 */
#grid-lokale1-tidspunkt4 {
    grid-area: lokale1-tidspunkt4;
}

#grid-lokale2-tidspunkt4 {
    grid-area: lokale2-tidspunkt4;
}

#grid-lokale3-tidspunkt4 {
    grid-area: lokale3-tidspunkt4;
}

#grid-lokale4-tidspunkt4 {
    grid-area: lokale4-tidspunkt4;
}

#grid-lokale5-tidspunkt4 {
    grid-area: lokale5-tidspunkt4;
}

#grid-lokale6-tidspunkt4 {
    grid-area: lokale6-tidspunkt4;
}

#grid-lokale7-tidspunkt4 {
    grid-area: lokale7-tidspunkt4;
}

#grid-lokale8-tidspunkt4 {
    grid-area: lokale8-tidspunkt4;
}

/* lokale og tidspunkt- felter for række 5 */
#grid-lokale1-tidspunkt5 {
    grid-area: lokale1-tidspunkt5;
}

#grid-lokale2-tidspunkt5 {
    grid-area: lokale2-tidspunkt5;
}

#grid-lokale3-tidspunkt5 {
    grid-area: lokale3-tidspunkt5;
}

#grid-lokale4-tidspunkt5 {
    grid-area: lokale4-tidspunkt5;
}

#grid-lokale5-tidspunkt5 {
    grid-area: lokale5-tidspunkt5;
}

#grid-lokale6-tidspunkt5 {
    grid-area: lokale6-tidspunkt5;
}

#grid-lokale7-tidspunkt5 {
    grid-area: lokale7-tidspunkt5;
}

#grid-lokale8-tidspunkt5 {
    grid-area: lokale8-tidspunkt5;
}

/* lokale og tidspunkt- felter for række 6 */
#grid-lokale1-tidspunkt6 {
    grid-area: lokale1-tidspunkt6;
}

#grid-lokale2-tidspunkt6 {
    grid-area: lokale2-tidspunkt6;
}

#grid-lokale3-tidspunkt6 {
    grid-area: lokale3-tidspunkt6;
}

#grid-lokale4-tidspunkt6 {
    grid-area: lokale4-tidspunkt6;
}

#grid-lokale5-tidspunkt6 {
    grid-area: lokale5-tidspunkt6;
}

#grid-lokale6-tidspunkt6 {
    grid-area: lokale6-tidspunkt6;
}

#grid-lokale7-tidspunkt6 {
    grid-area: lokale7-tidspunkt6;
}

#grid-lokale8-tidspunkt6 {
    grid-area: lokale8-tidspunkt6;
}

/* lokale og tidspunkt- felter for række 7 */
#grid-lokale1-tidspunkt7 {
    grid-area: lokale1-tidspunkt7;
}

#grid-lokale2-tidspunkt7 {
    grid-area: lokale2-tidspunkt7;
}

#grid-lokale3-tidspunkt7 {
    grid-area: lokale3-tidspunkt7;
}

#grid-lokale4-tidspunkt7 {
    grid-area: lokale4-tidspunkt7;
}

#grid-lokale5-tidspunkt7 {
    grid-area: lokale5-tidspunkt7;
}

#grid-lokale6-tidspunkt7 {
    grid-area: lokale6-tidspunkt7;
}

#grid-lokale7-tidspunkt7 {
    grid-area: lokale7-tidspunkt7;
}

#grid-lokale8-tidspunkt7 {
    grid-area: lokale8-tidspunkt7;
}

/* top_left i index-vinduet */
#grid-fokuspunkter-og-blaeksprutte {
    grid-area: top_left;
    display: grid;
    grid-template-areas:
            "fokuspunkter fokuspunkter fokuspunkter"
            "blaeksprutte_tekst blaeksprutte_navn aendre_plan";
    grid-auto-columns: 1fr;
    grid-template-rows: 1.4fr 0.6fr;
}

#blaeksprutte-tekstfelt {
    grid-area: blaeksprutte_tekst;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blaeksprutte-tekstfelt div {
    margin-left: 50px;
    margin-top: 12px;
}

#blaeksprutte-boks {
    grid-area: blaeksprutte_navn;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#blaeksprutte-felt {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right: 45px;
    margin-top: 10px;
}

#aendre-dagsplan {
    grid-area: aendre_plan;
}

#aendre-dagsplan div {
    margin-top: 12px;
}

#grid-fokuspunkter {
    grid-area: fokuspunkter;
}

#grid-fokuspunkter h3 {
    text-align: center;
    line-height: 5px;
}

#grid-fokuspunkter div {
    overflow: auto;
    width:420px;
    height: 20px;
    margin-left: 20px;
}

/* top_left i blæksprutte-vinduet */
#grid-knapper {
    grid-area: top_left;
    display: grid;
    grid-template-areas:
            "gem_dagsplan tilbage_dagsplan"
            "aaben_rum luk_rum";
    grid-auto-columns: 1fr;
}

#gem-dagsplan {
    grid-area: gem_dagsplan;
}

#tilbage-dagsplan {
    grid-area: tilbage_dagsplan;
}

#luk-rum {
    grid-area: luk_rum;
}

#aaben-rum {
    grid-area: aaben_rum;
}
/* tomt mellemrum */
#mellemrum {
    grid-area: mellemrum;
    border: 1px black solid;
    background-color: black;
}

/* pædagog inde i felterne */
.paedagog1, .paedagog2, .paedagog3 {
    text-align: left;
    width:100%;
}

/* pædagog valgt i blæksprutte vinduet */
.blaeksprutteVindue {
    opacity: 0.5;
}

/* pædagog-farver */
.paedagogFarve1 {
    background-color: pink;
}

.paedagogFarve2 {
    background-color: green;
}

.paedagogFarve3 {
    background-color: yellow;
}

.paedagogFarve4 {
    background-color: orange;
}

.paedagogFarve5 {
    background-color: aquamarine;
}

.paedagogFarve6 {
    background-color: lightblue;
}

.paedagogFarve7 {
    background-color: lightgrey;
}

.paedagogFarve8 {
    background-color: cyan;
}

.paedagogFarve9 {
    background-color: gold;
}

.paedagogFarve10 {
    background-color: lemonchiffon;
}

button {
    margin:0px;
}

.lukketRum {
    background-color: lightgrey;
}