
/* viser grid lines */
.punkter-med-kant {
    border: 1px black solid;
}

/* centrerer tekst */
.center {
    text-align: center;
}

/* lokale og tidspunkt- felter for række 1 */
.felter {
    background-color: white;
}

/*buttons i blækspruttens vindue*/
.knapper {
    background-color: white;
    text-align: center;
}
#blaeksprutte-felt {
    background-color: white;
    border:1px solid black;
    width:109px;
    height:25px;
    float:right;
    margin-right: 45px;
    margin-top: 10px;
}

/* pædagog inde i felterne */
.paedagog1, .paedagog2, .paedagog3 {
    text-align: left;
    width:100%;
}

/* pædagog valgt i blæksprutte vinduet */
.blaeksprutteVindue {
    /*opacity: 0.5;*/
}

/* pædagog-farver */
.paedagogFarve1 {
    background-color: pink;
}

.paedagogFarve2 {
    background-color: green;
}

.paedagogFarve3 {
    background-color: yellow;
}

.paedagogFarve4 {
    background-color: orange;
}

.paedagogFarve5 {
    background-color: aquamarine;
}

.paedagogFarve6 {
    background-color: lightblue;
}

.paedagogFarve7 {
    background-color: lightgrey;
}

.paedagogFarve8 {
    background-color: cyan;
}

.paedagogFarve9 {
    background-color: gold;
}

.paedagogFarve10 {
    background-color: lemonchiffon;
}

button {
    margin:0px;
}

.lukketRum {
    background-color: lightgrey;
}

.usynlig {
    display: none;
}

.paedagogSelected {
    opacity: 0.5;
}

.selectionButtonsSelected {
    border: 2px red solid;
}



